@media (min-width: 768px) {
  .slick-slide.slick-current.slick-active {
    transform: scale(1.35);
    transition: all 0.3s linear !important;
  }
}
.slick-dots li.slick-active button:before {
  color: White !important;
  opacity: 1;
}
.slick-dots li button:before {
  color: black !important;
  opacity: 1 !important;
  font-size: 8px !important;
}
.slick-slide.slick-current.slick-active .slide_card {
  border: 1px solid #fd749b !important;
  box-shadow: 0px 50px 100px 0px rgba(0, 0, 0, 0.1) !important;
  text-align: center !important;
}

.slick-slide.slick-current.slick-active .slide_card h4 {
  background: linear-gradient(178deg, #fd749b -13.56%, #281ac8 158.3%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slick-current.slick-active .slide_card img {
  border-radius: 17px !important;
}

.slick-current.slick-active .slide_card button {
  background: linear-gradient(178deg, #021a38 -13.56%, #cc33d9 118.02%);
  color: white;
}
