@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
  }
}
.btn_gradient {
  background:linear-gradient(181deg, #021A38 -30.61%, #CC33D9 132.4%);
}
